.heading{
  padding: 20px;
}
.rowpad{
  padding-bottom:15px;
}
.btnmargin{
  margin-right: 10px;
}
.cardmargin{
  margin-bottom: 15px;
}
.mytodos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}